:root {
    --clr-darker-gray: #0f1415;
    --clr-dark-gray: hsl(191, 18%, 13%);
    --clr-med-gray: hsl(191, 18%, 22%);
    --clr-lighter-gray: hsl(201, 17%, 80%);
    --clr-light-gray: hsl(201, 17%, 77%);
    --clr-darker-red: hsl(351, 100%, 17%);
    --clr-dark-red: hsl(351, 100%, 24%);
    --clr-med-red: hsl(351, 100%, 34%);
    --clr-red: hsl(351, 59%, 47%);

    --clr-submit: hsl(125, 27%, 28%);;
}