:root {
    --clr-darker-gray: hsl(191, 18%, 7%);
    --clr-dark-gray: hsl(191, 18%, 13%);
    --clr-med-gray: hsl(191, 18%, 22%);
    --clr-light-gray: hsl(201, 17%, 77%);
    --clr-dark-red: hsl(351, 100%, 24%);
    --clr-red: hsl(351, 59%, 47%);

    --clr-submit: hsl(125, 27%, 28%);;
}