@use '../util' as u;
@import '../global/typography';
@import '../global/colors';


$base-path: '../img';

.about-body {
    min-height: 100%;
    width: 100%;
    margin: 0;
    background-color: var(--clr-dark-gray);

}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
   

    h1 {
        padding: 4rem 0;
        color: white;
        font-size: var(--fs-5);
        letter-spacing: 0.2em;
        font-weight: 600;
        text-align: center;
    }

    &__card-wrapper {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0,0,0,0.4);
        z-index: 1;

        @include u.breakpoint(medium){
            top: 0;
            left: 0;
            right: 50%;
            bottom: 0;
        }

        @include u.breakpoint(large){
            top: 0;
            left: 5%;
            right: 50%;
            bottom: 0;
        }
    }

    &__card {
        z-index: 2;
        color: white;
        padding: 2em;
        


        h2 {
            font-size: var(--fs-0);
            font-weight: 500;
            text-align: center;
            margin: 4em 0;
            background-color: var(--clr-darker-gray);
            width: 40%;
            padding: 0.5em;
            border-radius: 5px;

            @include u.breakpoint(medium){
                font-size: var(--fs-1);
                padding: 1em;
                margin: 4em auto;
                width: 70%;
                
            }
        }
        

        img {
            margin: 0 auto 2em auto;
            object-fit: cover;
            border-radius: 5px;

        }

        .paragraph-wrapper {
     
            width: 100%;
            background-color: var(--clr-darker-gray);
            padding: 0.7em;
            border-radius: 5px;


            p {
                font-size: var(--fs--1);
                text-align: center;
                margin-bottom: 1em;

                @include u.breakpoint(medium){
                    text-align: left;
                }

                @include u.breakpoint(xlarge){
                    font-size: var(--fs-0);
                }

                 &:first-of-type::first-letter {
                    font-size: var(--fs-2);
                    font-weight: bold;
                    color: var(--clr-red)
                }
            }
        }
    }
}


.title__bio {
    position: relative;
    background-color: var(--clr-dark-gray);
    background-image: url('#{$base-path}/chicago-500.webp');
    background-image: -webkit-image-set(
        url("#{$base-path}/chicago-500-tall.webp") 1x, 
        url("#{$base-path}/chicago-1500.webp'") 2x);
    background-image: image-set(
        url('#{$base-path}/chicago-500-tall.webp') 1x, 
        url('#{$base-path}/chicago-1500.webp') 2x);
    object-fit: cover;
    background-repeat: no-repeat;
    min-height: 1400px;
    background-position: top;
    inset: 0;

    @include u.breakpoint(medium){
        background-size: cover;
    }
}
