@use '../util' as u;
@import '../global/typography';
@import '../global/colors';


.about-body {
    width: 100%;
    height: 100%;
    margin: 0;
}

.title {
    background-color: var(--clr-dark-gray);
    display: flex;
    justify-content: center;
    align-items: center;

    h1 {
        padding: 4rem 0;
        color: white;
        font-size: var(--fs-5);
        letter-spacing: 0.2em;
        font-weight: 600;
        text-align: center;
    }

    &__bio {
        position: relative;
        background-image: url("/img/chi-3-background.webp");
        object-fit: cover;
        background-repeat: no-repeat;
        min-height: 1400px;
        background-position: top;
        inset: 0;
    
        background-color: var(--clr-dark-gray);
    
        @include u.breakpoint(medium){
            background-size: cover;
        }
    }

    &__card-wrapper {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0,0,0,0.6);
        z-index: 1;

        @include u.breakpoint(medium){
            top: 0;
            left: 0;
            right: 50%;
            bottom: 0;
        }

        @include u.breakpoint(large){
            top: 0;
            left: 5%;
            right: 50%;
            bottom: 0;
        }
    }

    &__card {
        z-index: 2;
        color: white;
        padding: 2em;


        h2 {
            font-size: var(--fs-1);
            font-weight: 500;
            text-align: center;
            margin: 2em auto;
            background-color: var(--clr-darker-gray);
            width: 40%;
            padding: 1em;
        }
        

        img {
            margin-bottom: 2em;
        }

        .paragraph-wrapper {
     
            width: 100%;
            background-color: var(--clr-darker-gray);
            padding: 0.7em;


            p {
                font-size: var(--fs-0);
                text-align: center;

                @include u.breakpoint(medium){
                    text-align: left;
                }

                &:first-letter {
                    font-size: var(--fs-2);
                    font-weight: bold;
                    color: var(--clr-red)
                }
            }
        }
    }
}






