@use '../util' as u;
@import '../global/typography';
@import '../global/colors';


.card-list {
    padding: 2rem 0;
    background-color: var(--clr-med-gray);
    display: grid;
    place-items: center;
    grid-template-columns: 1fr;
    gap: 1em;

    @include u.breakpoint(medium) {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto
    }
    
}

.card {
    padding: 4rem 2rem;
    background-color: var(--clr-dark-gray);
    color: var(--clr-light-gray);
    width: 100%;
    text-align: center;
 

    .fa-solid {
        border: 3px solid var(--clr-light-gray);
        border-radius: 50%;
        color: var(--clr-med-red);
        font-size: var(--fs-3);
        margin: 1rem auto;
        padding: 0.4em;
    }
    
    h3 {
        font-size: var(--fs-1);
        font-weight: 600;
        margin-bottom: 1rem;
    }

    p {
        font-size: var(--fs--1);
        margin: 0 auto;
        padding-top: 1em;
        padding-bottom: 3em;
        width: 70%;
        text-align: center;
    }

    a { 
        display: inline-block;
        font-weight: 700;
        text-underline-offset: 8px;
        text-decoration-color: var(--clr-med-red);
        transition: all 1s;

        &:hover {
            transform: scale(1.05);

            @media (prefers-reduced-motion: reduce){
                transform: none;
            }

        }
    }

    @include u.breakpoint(medium) {
        min-height: 550px;
        
        p {
            
            width: 90%;
        }
    }

    @include u.breakpoint(large) {
        min-height: 600px;

        p {
            font-size: var(--fs-0);
            width: 70%;
        }

        a {
            font-size: var(--fs-0);
        }
    }

   
    
}