@use '../util' as u;
@import '../global/typography';
@import '../global/colors';


.form__container {
    background-color: var(--clr-dark-gray);
    height: 100vh;
    

    h1 {
        padding: 4rem 0;
        color: white;
        font-size: var(--fs-3);
        letter-spacing: 0.2em;
        font-weight: 600;
        text-align: center;

        @include u.breakpoint(medium) {
            font-size: var(--fs-5);
        }
    }

    form {
        margin: 0 2em;
   
        label {
            display: inline-block;
            color: white;
            font-size: var(--fs-1); 
        }

        #email {
            background-color: var(--clr-light-gray);
            width: 100%;
            padding: 1em 2em;
            margin: 2em 0;
            border: none;

            &:focus {
                outline: 3px solid var(--clr-med-red);
            }
        }

        #message {
            background-color: var(--clr-light-gray);
            width: 100%;
            padding: 1em 2em;
            margin: 2em 0;
            border: none;

            &:focus {
                outline: 3px solid var(--clr-med-red);
            }
        }

        button {
            background-color: var(--clr-darker-gray);
            border-radius: 8px;
            font-size: var(--fs-1);
            font-weight: 700;
            padding: 0.8em 1em;
            width: 70%;
            border: none;
            color: white;
            margin: 0 auto;
            display: block;

            @include u.breakpoint(medium) {
                width: 60%;
            }

            @include u.breakpoint(large) {
                width: 50%;
            }

            @include u.breakpoint(xlarge) {
                width: 30%;
            }
            

            &:hover {
                background-color: var(--clr-dark-red);
                cursor: pointer;
                transition: background-color 0.3s ease-in-out;
                color: white;
            }
        }

        @include u.breakpoint(medium) {
            margin: 0 8em;
        }
            
    }
}

::placeholder {
    color: black;
}