@use '../util' as u;
@import '../global/typography';
@import '../global/colors';


.footer {
    background-color: var(--clr-darker-gray);
    color: var(--clr-light-gray);
    min-height: 300px;


    &__connect {
        padding-top: 4rem;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;


        h4 {
            font-size: var(--fs-2);
            font-weight: 500;
            letter-spacing: 0.02em;
            margin-bottom: 1rem;
        }

        a {
            font-size: var(--fs-0);
            letter-spacing: 0.2em;
            text-underline-offset: 0.5em;
        }
    }

    &__socials {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: row;
        width: 90%;
        margin: 4rem auto;
        

        .fa-brands {
            // color: var(--clr-light-gray);
            font-size: var(--fs-3);
            
            &:hover {
                cursor: pointer;
                color: var(--clr-dark-red);
                transition: color 0.3s ease-in-out;
            }
        }

        @include u.breakpoint(large){
            width: 32%;
        }
    }

    &__copyright {
        p {
            font-size: var(--fs--1);
            text-align: center;
        }
    }

}