@use '../util' as u;
@import '../global/colors';
@import '../global/typography';


this is for disabling animations while resizing viewport
.resize-animation-stopper * {
    animation: none !important;
    transition: none !important;
  }

.primary-header {
    background-color: var(--clr-darker-gray);
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
}

.mobile-nav-toggle {
    display: none;
}

.logo {
    width: 5rem;
    aspect-ratio: 1;
    margin: 1rem;

    &:hover {
        animation: pulse 3s infinite ease-in-out;

        @media (prefers-reduced-motion: reduce) {
            animation: none;
        }
    }
}

@keyframes pulse {
    0% {
        transform: scale(1);
        filter: brightness(1)
    }
    50% {
        transform: scale(1.1);
        filter: brightness(1.3)
    }
    100% {
        transform: scale(1);
        filter: brightness(1)
    }
}



.primary-navigation {
    display: flex;
    gap: 3rem;
    list-style: none;
    
    padding: 0;
    margin-right: 0.8em;

    background: var(--clr-darker-gray);
    
}


.primary-navigation a {
    border-radius: 8px;
    text-decoration: none;
    font-size: var(--fs-0);
    padding: 0.5em;
    transition: background-color 0.2s ease-in-out;
    text-transform: uppercase;

    &:hover {
        background-color: var(--clr-dark-red);
    }
    
}



@media (max-width: 43.8em) {
    .primary-navigation {
        background-color: var(--clr-darker-gray);
        position: fixed;
        flex-direction: column;
        z-index: 1000;
        inset: 0;
        margin: 0;
        padding: 0;

        // moves the menu off screen
        transform: translateX(100%);
        transition: transform 0.3s ease-in-out;
    }

    .primary-navigation li {
        margin: 1.5em auto;
    }

    .primary-navigation[data-visible='true'] {
        // makes the menu visible
        transform: translateX(0%)
    }

    .mobile-nav-toggle {
        display: block;
        position: absolute;
        z-index: 9999;
        background-color: transparent;
        width: 2rem;
        aspect-ratio: 1;
        top: 2.5rem;
        right: 2rem;
        border: 0;
    }

    .fa-solid {
        font-size: var(--fs-2);
        color: white;

        &:hover {
            cursor: pointer;
            color: var(--clr-red);
        }
    }

    .mobile-nav-toggle i {
        display: none;
    }

    .mobile-nav-toggle .fa-bars {
        display: inline-block;
    }

    .mobile-nav-toggle[aria-expanded='true'] .fa-bars {
        display: none;
    }

    .mobile-nav-toggle[aria-expanded='true'] .fa-x {
        display: inline-block;
    }
}

.logo-link {
    &:hover {
        cursor: pointer;
    }
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    white-space: nowrap;
    border: 0;
}