@use '../util' as u;
@import '../global/colors';
@import '../global/typography';

.logo {
    width: 5rem;
    aspect-ratio: 1;
    margin: 0.37rem;

    &:hover {
        animation: pulse 4s infinite ease-in-out;

        @media (prefers-reduced-motion: reduce) {
            animation: none;
        }
    }
}

@keyframes pulse {
    0% {
        transform: scale(1);
        filter: brightness(1)
    }
    50% {
        transform: scale(1.1);
        filter: brightness(1.1)
    }
    100% {
        transform: scale(1);
        filter: brightness(1)
    }
}

.topnav {
    background-color: var(--clr-darker-gray);
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;

    button {
        background: none;
        border: none;
        padding: 0;

        .fa-solid {
            font-size: var(--fs-2);
            color: white;
    
            &:hover {
                cursor: pointer;
                color: var(--clr-red);
            }
        }

        @media (width >=40em){
            display: none;
        }

    }

    #btnOpen {
        margin-right: 2rem;
    }

    &__open[aria-expanded='true']{
        + .topnav__menu {
            translate: 0;

            @media (prefers-reduced-motion) {
                opacity: 1;
            }
        }
    }

    &__close {
        display: block;
        margin-inline-start: auto;
        margin-block-end: 4rem;

        .fa-x {
            color: red;
            width: 2.5rem;
        }
    }

    &__menu {
        @media (width < 40em){
            position: fixed;
            inset: 0;
            padding: 1.5rem;
            background-color: var(--clr-darker-gray);
            translate: 100vw 0;
            transition: translate 0.5s ease-in-out;
            z-index: 999;
        }

        @media (width < 40em) and (prefers-reduced-motion) {
            translate: 0;
            opacity: 0;
            transition: opacity 500ms ease-in-out;
        }
    }


    &__links {
        display: flex;
        gap: 3rem;
        align-items: center;
        margin: 0;
        padding: 0.5em;
    
        @media (width < 40em){
            flex-direction: column;
        }
    }

    &__item {
        list-style-type: none;
    }

    &__link {
        color: white;
        font-size: var(--fs-0);
        border-radius: 8px;
        text-decoration: none;
        padding: 0.5em;
        transition: background-color 0.2s ease-in-out;
        text-transform: uppercase;
        

        &:hover {
            background-color: var(--clr-dark-red);
        }
    }
}


