@import '../global/typography';

.hero {
    
    background-color: var(--clr-dark-gray);
    padding-bottom: 4rem;
    display: grid;
    place-items: center;

    .hero__img-container {
        max-width: 100%;
        padding: 1em;
        
    }

    h1 {
        padding: 4rem 0;
        color: white;
        font-size: var(--fs-5);
        letter-spacing: 0.2em;
        font-weight: 600;
        text-align: center;
    }

    h2 {
        padding-bottom: 2rem;
        color: var(--clr-light-gray);
        text-align: center;
        font-weight: 400;
    }


    img {
        border-radius: 5px;
        object-fit: cover;
    }
}