@use '../util' as u;

@import '../global/typography';
@import '../global/colors';


.about {
    background-color: var(--clr-lighter-gray);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 4em 0;

    h2 {
        color: var(--clr-dark-gray);
        font-size: var(--fs-2);
        font-weight: 600;
        
    }

    p {
        font-size: var(--fs-0);
        padding: 0 2em;
        line-height: 1.5em;


        @include u.breakpoint(medium){
            width: 80%;
            text-align: left;
            margin: 0 auto;
            padding: 0 4em;
        }

        @include u.breakpoint(large){
            width: 70%;
        }
    }

}

.about-underline {
    margin: 1em auto;
    width: 20%;
    height: 0.3em;
    background-color: var(--clr-dark-red);
}